body {
	padding: 10px;
	min-width:250px;
	overflow-x:hidden;
	color:#666;
	font-family:arial;
	font-size:13px;
}
ul {
	margin:0px;
	padding:0px;
	list-style-type:none;
}
li.list-item, li.link-item a  {
	position: relative;
	display: block;
	color:#666;
	border:1px solid #fff;
	padding:4px 8px;
	text-decoration:none;
	-webkit-border-radius:4px;
}
li.list-item:hover, li.link-item a:hover {
	background-color:#efefef;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef));
	border:1px solid #ccc;
	color: #333;
}
li.list-item {
	cursor: default;
}
hr {
	height:1px;
	margin:4px 0px;
	padding:0px;
	border:0px;
	background-color:#ccc;
}
li p {
	padding:4px 8px;
}
.portal-links {
	position: absolute;
	right: 8px;
	top: 4px;
}
